RewriteEngine on

# ensure remove extension
RewriteCond %{THE_REQUEST} /([^.]+)\.(html|php|asp) [NC]
RewriteRule ^ /%1 [NC,L,R]

# ensure file extension
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

# ensure www.
#RewriteCond %{HTTP_HOST} !^www\. [NC]
#RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# ensure https
#RewriteCond %{HTTPS} off
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# ensure http
#RewriteCond %{HTTPS} on
#RewriteRule (.*) http://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

#ensure redirect page
#Redirect 301 /index https://www.example.com

#ensure forbidden folder view
Options -Indexes