/* ----- Import Font url ----- */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

@font-face {
     font-family: Romel;
     src: url('../fonts/gotham/GothamPro-Light.eot');
     src: url('../fonts/gotham/GothamPro-Light.woff2') format("woff2"),url('../fonts/gotham/GothamPro-Light.woff') format("woff"),url('../fonts/gotham/GothamPro-Light.ttf') format("truetype"),url('../fonts/gotham/GothamPro-Light.svg#GothamPro-Light') format("svg"),url('../fonts/gotham/GothamPro-Light.eot?#iefix') format("embedded-opentype");
     font-weight: 100;
     font-style: normal
}

@font-face {
     font-family: Romel;
     src: url('../fonts/gotham/GothamPro-LightItalic.eot');
     src: url('../fonts/gotham/GothamPro-LightItalic.woff2') format("woff2"),url('../fonts/gotham/GothamPro-LightItalic.woff') format("woff"),url('../fonts/gotham/GothamPro-LightItalic.ttf') format("truetype"),url('../fonts/gotham/GothamPro-LightItalic.svg#GothamPro-LightItalic') format("svg"),url('../fonts/gotham/GothamPro-LightItalic.eot?#iefix') format("embedded-opentype");
     font-weight: 100;
     font-style: italic
}

@font-face {
     font-family: Romel;
     src: url('../fonts/gotham/GothamPro.eot');
     src: url('../fonts/gotham/GothamPro.woff2') format("woff2"),url('../fonts/gotham/GothamPro.woff') format("woff"),url('../fonts/gotham/GothamPro.ttf') format("truetype"),url('../fonts/gotham/GothamPro.svg#GothamPro') format("svg"),url('../fonts/gotham/GothamPro.eot?#iefix') format("embedded-opentype");
     font-weight: 200;
     font-style: normal
}

@font-face {
     font-family: Romel;
     src: url('../fonts/gotham/GothamPro-Italic.eot');
     src: url('../fonts/gotham/GothamPro-Italic.woff2') format("woff2"),url('../fonts/gotham/GothamPro-Italic.woff') format("woff"),url('../fonts/gotham/GothamPro-Italic.ttf') format("truetype"),url('../fonts/gotham/GothamPro-Italic.svg#GothamPro-Italic') format("svg"),url('../fonts/gotham/GothamPro-Italic.eot?#iefix') format("embedded-opentype");
     font-weight: 200;
     font-style: italic
}

@font-face {
     font-family: Romel;
     src: url('../fonts/gotham/GothamPro-Medium.eot');
     src: url('../fonts/gotham/GothamPro-Medium.woff2') format("woff2"),url('../fonts/gotham/GothamPro-Medium.woff') format("woff"),url('../fonts/gotham/GothamPro-Medium.ttf') format("truetype"),url('../fonts/gotham/GothamPro-Medium.svg#GothamPro-Medium') format("svg"),url('../fonts/gotham/GothamPro-Medium.eot?#iefix') format("embedded-opentype");
     font-weight: 400;
     font-style: normal
}

@font-face {
     font-family: Romel;
     src: url('../fonts/gotham/GothamPro-MediumItalic.eot');
     src: url('../fonts/gotham/GothamPro-MediumItalic.woff2') format("woff2"),url('../fonts/gotham/GothamPro-MediumItalic.woff') format("woff"),url('../fonts/gotham/GothamPro-MediumItalic.ttf') format("truetype"),url('../fonts/gotham/GothamPro-MediumItalic.svg#GothamPro-MediumItalic') format("svg"),url('../fonts/gotham/GothamPro-MediumItalic.eot?#iefix') format("embedded-opentype");
     font-weight: 400;
     font-style: italic
}

@font-face {
     font-family: Romel;
     src: url('../fonts/gotham/GothamPro-Bold.eot');
     src: url('../fonts/gotham/GothamPro-Bold.woff2') format("woff2"),url('../fonts/gotham/GothamPro-Bold.woff') format("woff"),url('../fonts/gotham/GothamPro-Bold.ttf') format("truetype"),url('../fonts/gotham/GothamPro-Bold.svg#GothamPro-Bold') format("svg"),url('../fonts/gotham/GothamPro-Bold.eot?#iefix') format("embedded-opentype");
     font-weight: 600;
     font-style: normal
}

@font-face {
     font-family: Romel;
     src: url('../fonts/gotham/GothamPro-BoldItalic.eot');
     src: url('../fonts/gotham/GothamPro-BoldItalic.woff2') format("woff2"),url('../fonts/gotham/GothamPro-BoldItalic.woff') format("woff"),url('../fonts/gotham/GothamPro-BoldItalic.ttf') format("truetype"),url('../fonts/gotham/GothamPro-BoldItalic.svg#GothamPro-BoldItalic') format("svg"),url('../fonts/gotham/GothamPro-BoldItalic.eot?#iefix') format("embedded-opentype");
     font-weight: 600;
     font-style: italic
}

@font-face {
     font-family: Romel;
     src: url('../fonts/gotham/GothamPro-Black.eot');
     src: url('../fonts/gotham/GothamPro-Black.woff2') format("woff2"),url('../fonts/gotham/GothamPro-Black.woff') format("woff"),url('../fonts/gotham/GothamPro-Black.ttf') format("truetype"),url('../fonts/gotham/GothamPro-Black.svg#GothamPro-Black') format("svg"),url('../fonts/gotham/GothamPro-Black.eot?#iefix') format("embedded-opentype");
     font-weight: 800;
     font-style: normal
}

@font-face {
     font-family: Romel;
     src: url('../fonts/gotham/GothamPro-BlackItalic.eot');
     src: url('../fonts/gotham/GothamPro-BlackItalic.woff2') format("woff2"),url('../fonts/gotham/GothamPro-BlackItalic.woff') format("woff"),url('../fonts/gotham/GothamPro-BlackItalic.ttf') format("truetype"),url('../fonts/gotham/GothamPro-BlackItalic.svg#GothamPro-BlackItalic') format("svg"),url('../fonts/gotham/GothamPro-BlackItalic.eot?#iefix') format("embedded-opentype");
     font-weight: 800;
     font-style: italic
}

/* https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css */