/* ----- Media Queries ----- */
@media (max-width: 1199.98px) {
     .main {

          .skills {

               .skills-container {

                    .skills-row {

                         .skills-column {

                              .skills-content {
                                   margin-bottom: 2rem;
                              }

                              .skills-image-wrapper {

                                   .skills-image {
                                        width: 600px;
                                   }
                              }
                         }
                    }
               }
          }
     }
}

@media (max-width: 1024px) {
 
     .header {
 
         .navbar {
               background-color: transparent;
               border-bottom: 2px solid transparent;
               padding: 30px 0 30px 0;
 
               .navbar-container {
 
                    .navbar-logo {
 
                         .navbar-logo-item {
     
                              .navbar-logo-link {
     
                                   .navbar-logo-text {
                                        color: $color-primary-dark!important;
                                   }
                              }
                         }
                    }
     
                    .navbar-menu {
                         display: none!important;
                    }
               }
          }
     }

     .main {

          .contact {

               .contact-container {

                    .contact-row {

                         .contact-column {

                              .contact-image-wrapper {
                                   margin-bottom: 2rem;
                              }
                         }
                    }
               }
          }
     }
}
 
@media (max-width: 575.98px) {
 
     .header {
 
          .navbar {
               padding: 30px 20px;
 
               .navbar-container {
 
                    .navbar-mobile-menu {
 
                         .navbar-mobile-menu-item {
 
                              .navbar-mobile-menu-icon {
                                   font-size: 32px;
                              }
                         }
                    }
               }
          }
     }
 
     .sidebar {
 
          .sidebar-container {
 
               .sidebar-menu {
 
                    .sidebar-menu-item {
 
                         .sidebar-menu-link {
                              font-size: 24px;
                         }
                    }
               }
          }
     }
 
     .main {
 
          .home-banner {
             
               .home-banner-container {
 
                    .home-banner-row {
 
                         .home-banner-column {
                              text-align: $text-center;
 
                              .home-banner-image {
                                   margin: 0 auto 2rem;
                                   width: 250px;
                              }
 
                              .home-banner-heading {
                                   font-size: 36px;
                              }
                         
                              .home-banner-subheading {
                                   font-size: 36px;
                              }
 
                              .home-banner-paragraph {
                                   font-size: 18px;
                              }
                         }
                    }
               }
          }

          .about {

               .about-container {

                    .about-row {

                         .about-column {

                              .about-content {

                                   .about-content-subheading {
                                        font-size: 24px;
                                   }
                              }
                         }
                    }
               }
          }

          .skills {

               .skills-container {

                    .skills-row {

                         .skills-column {

                              .skills-header {

                                   .skills-header-heading {
                                        font-size: 36px;
                                   }
                              }
                         }
                    }
               }
          }

          .contact {

               .contact-container {

                    .contact-row {

                         .contact-column {

                              .contact-form {

                                   .contact-form-row {

                                        .contact-form-column {

                                             .contact-form-heading {
                                                  font-size: 24px;
                                             }
                                        }
                                   }
                              }
                         }
                    }
               }
          }
     }
}
 
@media (max-width: 480.98px) {

     .footer {

          .footer-container {

               .footer-row {

                    .footer-column {

                         .footer-social {

                              .footer-social-item {
                                   padding-left: 5px;
                                   padding-right: 5px;
                                   
                                   .footer-social-link {
                                        width: 40px;
                                        height: 40px;

                                        .footer-social-icon {
                                             font-size: 14px;
                                        }
                                   }
                              }
                         }
                    }
               }
          }
     }
}