/* ----- Variable ----- */
$color-primary: #7510F7;
$color-secondary: #ffb400;
$color-primary-dark: #141c3a;
$color-secondary-dark: #171717;
$color-primary-light: #ffffff;
$color-secondary-light: #f8f9fa;

$text-left: left;
$text-center: center;
$text-right: right;

$font-family-primary: 'Romel', 'Helvetica Neue', 'Helvetica', sans-serif;